[2017-05-04 13:19] thearabbit opened #4 "Problem when use any element in `div outside`"
my code
[code]
When I click `button` , `onClickOutside method` work too.
Should be don't work because `button` is it `onClickOutside`

[2017-06-14 11:56] monishnarwani commented on #4
change to this to stop propagating events
<div v-click-outside="onClickOutside">
       <el-button type="danger" @click.stop="remove">Del</el-button>
</div>
------
onClickOutside (event) {
     console.log('outside');
}

hope this helps you.:)

[2017-07-09 20:57] ndelvalle commented on #4
@thearabbit I could not reproduce the error, can you provide a jsbin or let me know if you found a solution?

[2017-07-10 01:01] thearabbit commented on #4
sorry, Now I use `vue-outside-events` instead.

[2017-07-10 01:01] #4 closed

[2017-10-26 15:06] Jakkc opened #15 "Support for multiple elements in the same instance"
Currently just triggers for everything.

Would be nice if I could attach it to each item in a rendered list and then be able to interact with each one individually

[2017-10-26 15:39] francois2metz commented on #15
Hi @Jakkc. It already support multiple instance since the version 0.1.

If not, could you provide a testcase please?

[2017-10-26 16:28] Jakkc commented on #15
Attaching the event dynamically to items generated from a v-for loop.

I overcame this problem by creating a separate component with its own instance of click-outside.

However I did then notice a bug whereby if I clicked on one of the components and then a second without triggering click-outside then the click-outside event detached itself from both components.

It seems that v-clickaway doesn't

[2017-11-03 10:31] francois2metz commented on #15
@Jakkc Any news?

[2017-11-15 14:06] francois2metz commented on #15
Closing without any more info. Feel free to reopen if you have some news.

[2017-11-15 14:06] #15 closed

[2017-12-11 10:08] ppasieka opened #19 "Touch and click events are not recognized correctly"
I have laptop with touch screen, but for 99% of my usage time I'm using mouse and rely on click event. After update to v1.0.1 my app is broken because plugin recognize that I have touch screen and only registers touchstart events.

[2017-12-13 16:50] ndelvalle commented on #19
Thanks for reporting the issue @ppasieka I will investigate and try to fix it these days (I'm a bit busy with university finals). It's going to be hard to test it since I don't have a laptop with touchscreen, but I can release a beta for you to test it 🙂

[2017-12-26 21:15] ndelvalle commented on #19
v-click-outside 1.0.2 published 🎉 @ppasieka

[2017-12-26 21:15] #19 closed

[2018-03-02 15:09] 311289189 opened #22 "Disallow directive on the server"
`window is not defined` when rendering on the server, could you make a check for this?

Will try to make a PR if I get time

[2018-03-16 22:39] ndelvalle commented on #22
Sorry for the late response @311289189, I see your PR, thanks! 🙂

[2018-03-19 00:21] ndelvalle commented on #22
v-click-outside 1.0.4 published 🎉

[2018-03-19 00:21] #22 closed

[2018-03-25 16:22] syropian opened #25 "Clicking sibling item does not hide original"
I have a list of tags in a sidebar, and when I click the `...` to open it, clicking another `...` in the list does not hide the first one. Attatched a GIF for reference since it's a little confusing 😅

![astral_click_outside_bug](https://user-images.githubusercontent.com/749061/37877307-3ce14f06-3027-11e8-80da-e5a8c49a72fd.gif)

[2018-03-25 18:20] francois2metz commented on #25
Hi! Could you provide a snippet of the code so we can reproduce it?

[2018-03-26 02:24] syropian commented on #25
@francois2metz Hi! I created a simple reproduction of the issue here - https://codesandbox.io/s/wq8olo9yq7

To see it, click the `...` on one item, and then click the `...` on another item. You'll notice that both menu items show, and neither hide until you click somewhere else.

[2018-03-26 07:55] francois2metz commented on #25
Hi @syropian. You are stopping the click event on the button, so the plugin cannot handle the event when clicking on another button. You should remove the `stop` modifier and move ` v-click-outside` to the div that encompass the button and the context menu. Here is the version working: https://codesandbox.io/s/wnp565o56l (I also move the v-show from the context-menu to the fruit component, it was

[2018-03-26 07:55] #25 closed

[2018-03-26 11:54] syropian commented on #25
Thanks for taking a look. The issue which I realized I failed to demonstrate in that example is I need to stop the propagation because in my app I’m also handling a click event on the whole row as well, and I don’t want to trigger the row’s click event when clicking the `...`

Sent from my iPhone

[2018-03-26 12:54] francois2metz commented on #25
I see. It's difficult then to handle click outside of the event.

[2018-04-12 16:30] LiamKlyneker opened #26 "Event are not recognized on mobile devices"
Exist a special call for mobile devices?

[2018-04-12 16:40] LiamKlyneker commented on #26
**I found the solution**!!! 🙌

If the v-click-outside is not firing on iOS, try adding the cursor: pointer css style to the <body> element. There are many ways to achieve this, after I did this, v-click-outside started working like a charm.

[2018-04-13 02:12] ndelvalle commented on #26
Cool, thanks for sharing the solution @LiamKlyneker 🙂

[2018-04-13 02:12] #26 closed

[2018-04-16 08:40] hableel opened #27 "Swipe on mobile triggers event handler"
When swiping on mobile, event handler should not be triggered.

[2018-04-16 16:05] kris-luminar opened #28 "typo in test description"
This line says `'does not execute the callback if the event target its the element from the instance'`

https://github.com/ndelvalle/v-click-outside/blob/master/test/v-click-outside.test.js#L116

It's unclear what `its the element` means. Did you mean `its element`?

[2018-04-18 02:47] ndelvalle commented on #28
@kris-luminar  I mean the element you are using the directive on. Maybe it should say:
`It does not execute the callback if the event target is the element from the directive instance`?
To be more clear it should only call the `cb` if the element is not the one we are using the directive on and does not contains the event target. What do you think?

[2018-04-18 02:49] ndelvalle commented on #27
@hableel  nop it should not, do you mind trying to make a PR considering this case? If not I will try to find some time to test the case. Thanks for reporting the issue.

[2018-04-22 11:30] hableel commented on #27
Thank you for your response, I don't now if i will do it, as I'm working on something else now.

[2018-05-02 16:05] kris-luminar commented on #28
That's a lot clearer to me.

[2018-05-02 16:50] ndelvalle commented on #28
Cool, @kris-luminar do you mind doing a PR changing it? 🙂

[2018-06-10 00:51] #28 closed

[2018-06-19 04:26] lkloon123 opened #31 "fontawesome icon get trick as outside click"
[code]

submitForm will be trigger twice due to clicking on the fontawesome circle icon,
but if i click on the button, it has no issue

[2018-08-07 00:07] willashley23 opened #32 "outside-if-not functionality"
It would be nice if the directive could check for a attribute `outside-if-not` which excludes certain selectors when determining if the user has clicked outside. This is useful for cases when you are layering multiple elements, such as a modal over a side panel.

You could add the selectors to be excluded as an array inside the `directive` object, and check for them here:

[code]
It would be clean

[2018-08-07 03:10] ndelvalle commented on #32
I think this change would be useful @willashley23 , I'm not entirely sure about the implementation. Maybe we can add an extra option to the directive, to be a function where we pass the element and the user do something and return true if we should execute the associated binding.value function, something like:

[code]

This way is more dynamic I think.
Im not sure if we should add that function in

[2018-08-08 16:32] willashley23 commented on #32
I like it! I think it is more maintainable and generic so people can enable or prevent the directive callback based on whatever their specific needs are as described in the middleware. I'll implement this, add tests, and send over a pr 😄

[2018-08-08 17:37] ndelvalle commented on #32
Awesome! Thanks for contributing @willashley23 🙌🏻

[2018-08-19 04:52] Danktuary opened #34 "Support for inline expressions"
Support for inline expressions would be neat. Instead of doing all this:

[code]

It could be simplified to this:
[code]

Of course, that probably isn't the only use-case, but just the first one that comes to mind. 😄

[2018-08-25 04:33] ndelvalle commented on #32
v-click-outside 2.0.0-0 published with these changes, I will do some testing and the publish a final release (Not beta)

[2018-08-25 04:33] #32 closed

[2018-08-27 07:23] Finrod927 opened #36 "Bad generated files (.min.min)"
Hi ndelvalle!

I just upgraded to 2.0.0 and my build failed with a "dependency not found error". I checked the package in node_modules and the files for **v-click-outside** are badly named in `dist` folder:

- `v-click-outside.min.min.umd.js`
- `v-click-outside.min.min.umd.js.map`

The `package.json` is targetting `v-click-outside.min.umd.js`

[2018-08-27 15:36] ndelvalle commented on #36
@Finrod927 I pushed a new npm version! I will create a new github release once I solve the issue 👍
Related: https://github.com/developit/microbundle/issues/205

Thanks for reporting

[2018-08-27 18:48] Finrod927 commented on #36
Great, thanks for the quick fix!

When you create a github release, can you post a small note to sum up the changes ?
I had to look at the commits to see what was new on 2.0.0 and if there was a breaking change.
Thanks ;)

[2018-08-27 23:22] #36 closed, assigned to nobody

[2018-08-29 01:00] ndelvalle commented on #36
Here goes: [Docs](https://github.com/ndelvalle/v-click-outside/blob/master/README.md#migrate-from-version-1)

[2018-09-01 21:04] ndelvalle commented on #34
Hi, @Danktuary indeed this could simplify things, sorry for the delay in answering this. I think this can be solved using the binding expression.
Do you mind trying to implement it 🙂I can give you a hand if you want, otherwise, I will make some time to do it.

[2018-09-01 21:08] ndelvalle commented on #31
Hi @lkloon123  Using version 2 you can define a middleware function to check if the click was on the fa icon and avoid the execution of the callback.
If you create a [codesanbox](https://codesandbox.io/) I can help you implement it, or I can debug the problem for you.

[2018-09-01 22:08] Danktuary commented on #34
Sure, I don't mind giving it a shot! No promises though because I don't have much experience with Vue directive dev. 😅 But I'll give it a go in the next couple days.

[2018-10-08 19:57] paulrosen opened #37 "Detecting type of touch event"
It looks like, when the function is triggered on a touch screen, it is only triggered on "touchstart". I would like to detect whether the user did a simple tap of the screen or did a scroll motion, but it doesn't look like I can tell.

[2018-10-08 22:49] ndelvalle commented on #37
@paulrosen on the callback argument you have the `event` attribute, you can get the event type like:
[code]

Will this work for you?

[2018-10-08 23:10] paulrosen commented on #37
That works halfway - I can tell if it was a mouse click or a touch event, but I'm trying to determine what *kind* of touch event it is. That was going to be my workaround, where I ignore all touch events.

In other words, if the user taps, I want to do something. If the user swipes, I do not. But in both of those cases event.type === "touchstart".

And thanks for the library - it's been very usefu

[2018-10-09 02:31] ndelvalle commented on #37
@paulrosen I see, it's a very specific case, I'm thinking 2 possibilities:

1) We can change the middleware behavior so it works asynchronously and then, inside of the middleware check if the user is swiping the screen, and then based on that return true or false, to call the desired on click outside callback. This will require to change the current API, and make breaking changes.

2) This is a bi

[2018-10-09 14:16] paulrosen commented on #37
Well, you gave me a clue with the hint to subscribe to only some events. I was using the simple form of `v-click-outside="myHandler"` instead of using a config object. I somehow missed that way to set it up. I figured out that on touch devices, I get a "click" event as a second event, so I just needed to subscribe to "click" and it works everywhere.

Thanks for your quick replies!

My full code is

[2018-10-09 14:16] #37 closed

[2018-10-09 14:44] ndelvalle commented on #37
Awesome, thanks for sharing the solution @paulrosen 👍

[2018-11-30 04:31] guanzo opened #39 "window is not defined in nuxt"
I'm using `nuxt` 2.3.4 and `v-click-outside` 2.0.1

Here's the error: https://i.gyazo.com/8ac67cb87dbf966efc229f6fa7b7776a.png

[2018-12-03 16:19] ndelvalle commented on #39
@guanzo I'm not entirely sure how nuxt works, but is there a way to disable the use of this directive on the server?
If that is not possible I might default window to an empty object or something like that, but then the logic to recognize touch devices will not work as expected.

[2018-12-04 01:59] guanzo commented on #39
Here's some official tips for writing SSR compatible code: https://ssr.vuejs.org/guide/universal.html#component-lifecycle-hooks

The way you conditionally export the package should work:
https://github.com/ndelvalle/v-click-outside/blob/df13e58ca873738eafebc472474de0c7d046339b/lib/v-click-outside.js#L78

However - and I'm surprised no one else has complained about this - you nullify that condition

[2018-12-07 09:09] #39 closed

[2019-02-15 01:22] mjntan35 opened #41 "binding after a click event triggers the onEvent function"
The problem is when the bind function is called after a click event, the event handler that is added to the document's event listener will also be triggered

https://jsfiddle.net/yjxgawpk/
this fiddle illustrate that adding an eventlistener to document after an click event.
Notice how without using setTimeout, the evenhandler is triggered after adding it

[2019-02-19 16:04] Skasi commented on #41
I've got the same issue. It first came up with Nuxt child elements only some months ago, but now after some more updates it happens for any element that works the way described above. I assume it's due to a Vue change or something along those lines.

[2019-02-22 04:14] jericopulvera commented on #41
Hello. @Skasi @mjntan35

I'm facing the exact issue.
Just wondering if you've found a workaround for this?

[2019-02-22 04:26] jericopulvera commented on #41
used https://github.com/simplesmiler/vue-clickaway instead and all is working now.

[2019-02-25 13:00] ndelvalle commented on #41
@Skasi good reference 👍 do you mind open a PR to fix this, please.

[2019-02-27 01:02] chasegiunta commented on #41
Any update on this? Every site where I used v-click-outside to create modals is broke, ha 😅

[2019-02-28 19:00] ndelvalle commented on #41
@chasegiunta I haven't had time to work on this yet, probably this weekend, if someone takes a look at it and create a PR it would be great 👍

[2019-03-01 07:10] mjntan35 commented on #41
@ndelvalle I debugged the problem, it seems to work if you use setTimeout, it works

setTimeout(document.addEventListener,0, event, handler)

https://github.com/ndelvalle/v-click-outside/pull/42

[2019-03-01 07:31] monkeyWzr commented on #41
@mjntan35
Thank you! But I think the update function should also be fixed.
[L102](https://github.com/ndelvalle/v-click-outside/blob/832802fa5408bea162195adf27a1dbb262d5361c/lib/v-click-outside.js#L102)

[2019-03-01 07:41] mjntan35 commented on #41
@monkeyWzr thanks for the comment.. I have modified the PR

[2019-03-05 16:51] ndelvalle commented on #41
Published under v-click-outside@2.1.0-0 or using `next` tag. I need to update some test from changes merged to master in a previous PR before creating a release.

[2019-03-05 18:56] ndelvalle commented on #41
Deployed `v-click-outside@2.1.0-1`

[2019-03-13 22:09] zanedev commented on #41
@ndelvalle just a heads up I tried out the `next` release and found a few issues so I downgraded back to latest 2.0 release and it fixed it for me.  I don't have time to repro it for you but this is what I discovered in `next`:

- The click outside event was firing even though the component it was used on with a directive was destroyed using a v-if.  It has a top level vue transition in the templa

[2019-03-15 18:06] ndelvalle commented on #41
@zanedev thanks for reporting these issues 👍

[2019-03-31 23:06] ndelvalle commented on #31
@ilearnio I'm going to close this due to inactivity.

[2019-03-31 23:06] #31 closed

[2019-04-05 08:39] drank commented on #34
@ndelvalle , is there any development in this direction?

[2019-04-05 14:52] ndelvalle commented on #34
@drank not at the moment 😔. Any help would be appriciated 👍

[2019-04-10 01:31] ndelvalle commented on #34
@monkeyWzr I see. I thought this was going to be possible without the arrow function, but apparently not.

About the arrow function usage:
If we save the arrow function in a variable we can still remove the event listener, for example:

[code]

[2019-04-10 13:20] monkeyWzr commented on #34
@ndelvalle Thanks a lot!

[2019-04-19 02:09] yu1222 opened #62 "When element binding 'v-click-outside' is unbind, but event does not removed."
When element binding 'v-click-outside' is unbind, but event does not removed.
[code]

![1555639264](https://user-images.githubusercontent.com/6902359/56401293-1abfc200-6293-11e9-8968-be475bfbc85a.png)

vue version 2.6.2
v-click-outside version 2.1.1
(The version of 2.0.1 worked normally.)

check this please..
thank you.

[2019-04-30 21:28] seanmcoleman commented on #62
I am also experiencing this behavior in a new app.

[2019-05-02 10:04] trongthanh commented on #62
I think I've found the cause of the issue.

I think it is because of [these lines](https://github.com/ndelvalle/v-click-outside/blob/master/lib/v-click-outside.js#L74):

[code]

It can be fixed by just add the event listener directly, like so:

[code]
Reason: when you place `document.addEventListener` as callback for `setTimeout`, it will be executed without context object, ie. anonymously, and si

[2019-05-02 14:33] ndelvalle commented on #62
@trongthanh thanks for the contribution, more info about why we used setTimeout can be found in issue #41 (I'm not even sure this still a problem in current vue versions)
Anyways, we can bind the context using `.bind`, or use it in a more conventional way, like:

` setTimeout(() => document.addEventListener(event, handler), 0)`

What do you think?

[2019-05-02 16:02] trongthanh commented on #62
Regarding issue #41, from my experience with normal DOM events, I often call event.stopPropagation() in the user's click event handler, so that the event is not bubbled up the document during which a click handler is registered at it. But it's only applicable for events that library code can control and besides, I'm not sure if its applicable for Vue's directive binding.

So, I can't think of any

[2019-05-02 16:04] monkeyWzr commented on #34
@ndelvalle Sorry I was focusing on the wrong point. The reason the `removeEventListener` doesn't work is not about arrow functions (because they are already been wrapped up and saved in the global `directive` variable), it's about the `setTimeout` instead.

The current code for binding [https://github.com/ndelvalle/v-click-outside/blob/c59e1d3fc3a76dc66ca21225355ac3e29d48352d/lib/v-click-outside.j

[2019-05-02 23:22] ndelvalle opened #71 "Fix eslint issues to improve codacy rating"
Related: https://app.codacy.com/app/ndelvalle/v-click-outside/issues/index

[2019-05-02 23:28] ndelvalle commented on #71
Codacy message:
[code]
I will wait on their team response and update the issue.

[2019-05-03 09:00] dariusFromShire opened #72 "Multiple triggering (v 2.1.1)"
Multiple method calls per click.

![image](https://user-images.githubusercontent.com/46776262/57127996-baed0f00-6d9a-11e9-9b8f-c731a6890ff4.png)

Version 2.0.2 - Ok.

[2019-05-06 05:00] trongthanh commented on #62
@ndelvalle I had a quick test and this issue seem to be gone in 2.1.2-0. But there are other changes in PR #69. So it's your call to verify those changes and make an official publish.

[2019-05-06 14:32] Suruat commented on #62
@ndelvalle When we can expect to see those changes on NPM ?

[2019-05-07 07:08] ndelvalle commented on #62
v-click-outside 2.1.2 published 🎉

[2019-05-07 07:09] ndelvalle commented on #72
v-click-outside 2.1.2 published 🎉

[2019-05-07 07:09] #72 closed

[2019-05-07 07:10] ndelvalle commented on #72
@dariusFromShire I'm not sure what you mean, in the case you are testing it seems ok to fire 2 callbacks because you are clicking outside those 2 elements.

[2019-05-07 07:26] rajasekarm opened #77 "NODE LTS"
Can we have minimum node version as 8.10.0

[2019-05-07 13:12] seanmcoleman commented on #77
I see that https://github.com/ndelvalle/v-click-outside/commit/9828d3c22433145eda076f632a20000a82da383b locks the Node version to exactly 10. If 10 is indeed the minimum, can we at least have `>=10` to support versions 11 and 12, which are quite commonly used?

[2019-05-07 14:04] ndelvalle commented on #77
I don’t mind using 8 or a bigger range, any of you would like to do a PR?

On Tue, 7 May 2019 at 10:12 Sean Coleman <notifications@github.com> wrote:

--
Enviado con Gmail Mobile

[2019-05-07 15:25] ThD-Rizer commented on #77
@ndelvalle hello, i'm created PR:
https://github.com/ndelvalle/v-click-outside/pull/78

[2019-05-07 18:07] ndelvalle commented on #77
Thanks @ThD-Rizer, I ended up using `>=6` as it was before just in case :)

v-click-outside 2.1.3 published 🎉

[2019-05-07 18:07] #77 closed

[2019-05-07 21:52] #71 closed

[2019-05-08 07:50] ThD-Rizer commented on #77
@ndelvalle Okay, thanks for the release :)

[2019-05-08 08:32] ThD-Rizer opened #79 "Old package in npm"
When you try to update the version of the package, the old version is downloaded (2.1.2).

[2019-05-08 09:54] rajasekarm commented on #77
Thanks much!!

[2019-05-08 15:09] ndelvalle commented on #79
I'm not sure I understand, there is `2.1.3` version on npm

https://www.npmjs.com/package/v-click-outside/v/2.1.3

[2019-05-10 20:27] ndelvalle commented on #79
@ThD-Rizer any news? Can I close the issue?

[2019-05-11 12:16] kiril-malyhin opened #80 "Click outside doesn't work on iframe click"
Unexpectedly, click on iframe doesn't fires event. Please, check this issue.

[2019-05-11 16:59] ThD-Rizer commented on #79
@ndelvalle hello. Apparently npm did not immediately update the version and downloaded from the cache. It's all right now, thanks :)

[2019-05-11 16:59] #79 closed

[2019-05-12 22:59] ndelvalle commented on #80
@kiril-malyhin Can you add more details. Can you create a codesandbox like this one:

 [![Edit v-click-outside](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/zx7mx8y1ol?fontsize=14)

[2019-05-14 07:50] kiril-malyhin commented on #80
@ndelvalle , sure.

Link to sandbox: https://codesandbox.io/s/5v256q385k?fontsize=14
As you see, event on click on iframe is not fired.

[2019-05-14 09:02] monkeyWzr commented on #80
Hi @ndelvalle can I work on this one?
(I did some search and I think I can handle it)

[2019-05-14 13:21] ndelvalle commented on #80
@monkeyWzr yes sure, thanks for the help 🙂

[2019-05-14 15:25] kiril-malyhin commented on #80
@monkeyWzr , that would be great if you can handle it!

[2019-05-15 14:40] koraykupe opened #82 "Click outside method is triggered multiple times"
Hi,
I have that code on my Vue file:

[code]
and that methods:

`  showPanel () {
        this.panelActive = true
        console.log('show panel')
        if (this.isMobileDevice) {
          document.body.className = 'body-no-scroll'
        }
      },
      hidePanel () {
        this.panelActive = false
        console.log('hide panel')
        if (this.isMobileDevice) {
          document.bod

[2019-05-15 15:11] koraykupe commented on #82
I added v-if statement to panelActive <div class="nav-item-panel"> dom element and it works now.

[2019-05-16 13:40] #62 closed

[2019-05-16 13:40] #41 closed

[2019-06-03 21:57] mrleblanc101 opened #90 "Multiple event on touch device."
Event is called on TouchStart and on Click.
It should only be called on one or the other.
Since there is no global plugin config, I need to create a config object every time I use the directive just to redefine the events instead of using the function syntax.
The bug seems to come from #44 2 months ago

[2019-06-03 21:58] mrleblanc101 commented on #90
My issue is that I toggle something on click-outside.
On desktop the function is called once and it toggle. If I put Chrome in touch simulator or if I use xcode simulator, the function is called twice (touchstart and click).

[2019-06-10 19:25] ndelvalle commented on #90
Sorry for the late respose @mrleblanc101. So, when you do a click on xcode simulator, the event click `touchstart` and `click` are fired? I thought just `touchstart` would be executed. Do you think that removing the `click` event from the default [here](https://github.com/ndelvalle/v-click-outside/blob/master/lib/v-click-outside.js#L5) would work for you and in general cases?

About the configurat

[2019-06-11 03:33] pachiraDIG opened #93 "Prevent default click on click-outside"
Hi there,

I'd love to see this implemented as a feature, if possible.  : )

I'm currently using v-click-outside for closing opened dropdowns and popups, but I'd like to prevent the default click on any element in the page that gets clicked while using it this way.

Any suggestions would be great too.

Thanks!

[2019-06-11 15:36] ndelvalle commented on #93
Hi @pachiraDIG this library supports a middleware, the middleware function receives the event as an argument, you can call `event.preventDefault()` to achieve what you want.

Let me know if this works for you 👍

[2019-06-11 21:21] pachiraDIG commented on #93
Hmm... seems as though I can't get the middleware to work. Even the console logs aren't firing. Although, everything is matching up with the codesandbox demo. Using nuxt, so I created a plugin --  which is working because I'm not directly importing the library in the component itself.

Any suggestions?

[2019-06-12 17:12] Nberezhnoy opened #94 "Trigger when unmounting a component"
Hey. Found such an error. When switching between routes, if on the page there is one and the same element in which the property "isActive" changes in the config, then the click event is triggered when a click is inside the element that uses the directive.
When debugging, I found out that on the line [L27](https://github.com/ndelvalle/v-click-outside/blob/master/lib/v-click-outside.js#L27) there is

[2019-06-17 12:02] kiril-malyhin commented on #80
@monkeyWzr , do you have any updates on this issue?

[2019-06-19 03:00] monkeyWzr commented on #80
@kiril-malyhin Nothing at all. I'm so sorry...

[2019-06-20 07:28] kiril-malyhin commented on #80
@monkeyWzr , probably you will can try solutions from here: https://stackoverflow.com/questions/15080222/add-click-event-to-iframe

[2019-07-02 08:44] phof commented on #90
@ndelvalle FYI removing the `click` event form the line you indicated resolves the issue for me.

[2019-08-16 05:46] aariacarterweir commented on #90
Have created a PR to address the issue, the problem I found is that touch devices (eg: iOS Safari) emit both a touchstart and click event when the user taps on something like a button etc.

What's really cooked is that this double firing of events happens to buttons tapped within the element that has the directive on it and for some reason triggers the associated handler to fire. This means if you

[2019-08-16 06:12] aariacarterweir commented on #90
Actually..... found that the same problem was happening on desktop too. Had to change the desktop event to "mousedown" in order to fix this, there might be something else going on here....

[2019-08-16 06:25] aariacarterweir commented on #90
Alrighty - figured this out. When one clicks or interacts with an element within the directive target and that element is v-if'd out of the dom, by the time `el.contains` runs the clicked element is no longer within the directive target and `el.contains` returns false... This is a different bug altogether, I will update my PR to just include a fix for this issue and start another issue for this ot

[2019-08-16 07:04] aariacarterweir opened #112 "El.contains does not work if element no longer exists in DOM"
By the time the event bubbles, if the event.target is no longer in the DOM, el.contains will return false which incorrectly registers as an 'outside' click. This limits the usefulness of this package, fixes include:

- Add Event.stopPropagation on every single element that is removed from the DOM after the event bubbles.
- Use Event.composedPath() / Event.path to correctly detect event.target loca

[2019-09-02 13:26] #90 closed

[2019-09-27 03:53] cssagogo opened #129 "Ignore outside clicks on certain elements?"
Is there a way to ignore clicks from outside elements similar to what is described in this article?

https://tahazsh.com/detect-outside-click-in-vue

The use case would be a button on the page that reveals some panel.  Clicking the button again will handle closing the panel so the outside click handling is not needed on it.

[2019-09-30 18:05] mrleblanc101 commented on #90
Hi,
After further investigation, I don't think we should use TouchStart event on mobile device.
TouchStart (just like MouseDown) should never be used for these sort of interaction as they are not cancellable. Also TouchStart is triggered sooner relative to click (**TouchStart**, TouchMove, TouchEnd VS. MouseDown, MouseUp, **Click**)
Considering the given order in which events are processed, we sho

[2019-09-30 18:05] mrleblanc101 commented on #90
As a workaround, i added `if (event.type === 'touchstart') return false;` to my function

[2019-10-04 15:36] insanealec commented on #129
What I've done is check for the target within the `onClickOutside` method. Since the event comes in as the first parameter, I check the `event.target.classList` for a specific class that I don't want to trigger what `onClickOutside` does. If the classList has the class that I'm excluding, I just skip doing the event.

Here's an example:
[code]

I hope this helps!

[2019-10-05 18:32] #34 closed

[2019-10-05 18:40] ndelvalle commented on #93
@pachiraDIG take a look at [this article ](https://javascript.info/bubbling-and-capturing) maybe we can catch the event at the capturing phase before its bubbling phase.
I think this should be an option and not having this by default, we do not want to stop the event propagation by default.

[2019-10-05 19:04] ndelvalle commented on #94
@Nberezhnoy I check you codesanbox (Thank you very much for creating one) and I am not being able to reproduce the error, can you try again using the last `vue` and `v-click-outside` versions?

[2019-10-05 19:08] ndelvalle commented on #129
@cssagogo does insanealec answer work for you? Using the middleware option is another cleaner approach that you can use, check the middleware usage example [here](https://github.com/ndelvalle/v-click-outside#use) Let me know if this helps.

[2019-10-16 09:05] francescozaniol opened #137 "Possible memory leak?"
Hi, unless I'm doing something wrong, this extension seems to be causing a memory leak in my SPA vue app. To be more precise it seems that when an element with "v-click-outside" gets destroyed (by a route change) not all references to the doms are properly removed and they stay as "detached" elements in the memory. See the two imgs attached:
![Screenshot from 2019-10-15 17-56-01](https://user-imag

[2019-10-31 18:20] ndelvalle commented on #137
@francescozaniol thanks for reporting the issue, I will take a look 👍

[2019-11-02 14:55] zefexdeveloper commented on #137
Is this affecting only SPA?

[2019-11-04 04:56] ndelvalle commented on #137
@zefexdeveloper yes this issue affects SPA mostly if you refresh the page the problem goes away.
@francescozaniol I am investigating the issue, the event listeners are properly removed but still, there are some Detached HTMLDiv Element left. I am updating the directive implementation in this [branch](https://github.com/ndelvalle/v-click-outside/tree/update-implementation), I also added an `example

[2019-11-04 04:58] #129 closed

[2019-11-04 13:15] francescozaniol commented on #137
Thanks @ndelvalle , I'll have a look as soon as I can

[2019-11-05 17:06] francescozaniol commented on #137
Hi @ndelvalle , I had a look at your example branch; actually in that example the detached nodes remain in memory because you're using console.log of "el" (file example/src/views/Home.vue); if you remove the console.logs (or you can just keep the strings) the memory snapshot remains clear from detached nodes. Can you confirm it too?
If this is the case then you successfully fixed the issue, or, it

[2019-11-05 17:42] francescozaniol commented on #137
Hi again @ndelvalle , good news: I made a build from the branch you created and placed it directly inside node_modules of my app, no more detached nodes and memory is drastically lower. I can confirm the issue is gone. Thanks, well done

[2019-11-05 18:16] ndelvalle commented on #137
Wow, thanks @francescozaniol for helping me debug the problem 🙏🏻!  I will update the tests according to the changes I made and push a new version tonight.

[2019-11-06 04:36] ndelvalle commented on #137
v-click-outside 2.1.5 published 🎉

[2019-11-06 04:46] ndelvalle commented on #137
I should also do not expose the `el` to middlewares and the handler function anymore to totally avoid this issue 🤔

[2019-11-06 09:52] francescozaniol commented on #137
Hey @ndelvalle , sorry to bother you again with this but I'm still experiencing the issue. I've updated at 2.1.5 and I've had a look at a diff and I noticed you added a setTimeout, which seems to be the culprit. Was there a particular reason for that? removing it fixes the memory leak in my app. Let me know.

[2019-11-07 14:39] ndelvalle commented on #137
Strange, @francescozaniol this was introduced at https://github.com/ndelvalle/v-click-outside/pull/42

I wonder if this still happens so we can remove it, or maybe we should tackle differently. I am also preparing a new version removing the `el` argument in the callbacks to avoid having unexpected Detached HTMLDiv Element as you suggested.

[2019-11-08 03:58] ndelvalle commented on #137
@francescozaniol are you sure you are not saving the `el` reference somewhere? I am having the same results with and without the set timeout. I like having the timeout, to avoid executing the event listener handler when navigating to the route that is using the directive without clicking anything. There are some other ways we can achieve this, but I am not sure if the time out is the problem here.

[2019-11-08 04:19] DannyFeliz opened #143 "The isActive config is ignored when updated dynamically"
I'm trying to disable the behavior of the click outside dynamically by setting the `isActive` property of the `config` but the behavior still the same.

I know I can use the middleware to handle this (check line 36) but I don't know if the config of click outside does is not expected to be dynamically?

https://codesandbox.io/s/v-click-outside-e4vin

[2019-11-08 05:16] ndelvalle commented on #143
Thanks for the codesanbox example @DannyFeliz !

As a workaround, you can use a computed property that returns a new object whenever your configuration changes and use this computed in the directive. At the moment vuejs marks the directive new and old object as the same object on the `update` hook 😓 I guess I can store the config and compare it my self on the directive instead of relying on these

[2019-11-08 05:32] DannyFeliz commented on #143
Thanks for the suggestion, but what I'm going to do for now is just let `isActive` always `true` and use the middleware approach instead.

[2019-11-08 08:45] francescozaniol commented on #137
@ndelvalle I'll do some more testing asap and I'll let you know

[2019-11-09 15:32] francescozaniol commented on #137
@ndelvalle after quite some testing, I've found out that the issue was indeed linked with the timeout, but only with elements populated by async data. In this scenario there were cases when the "unbind" function was run before the timeout function (for reasons I cannot still quite understand ..), therefore the event was added to a detached node, causing the memory leak. Check my PR, that commit fi

[2019-11-12 08:26] francescozaniol commented on #137
Installed v3.0.0 in my SPA, confirmed memory leak is gone. Thanks again @ndelvalle

[2019-11-12 08:26] #137 closed

[2019-12-18 13:30] divined opened #157 "IE 11 and SVG element problem"
does not work if click on svg element (

el.contains returns false in IE 11

[2020-01-13 13:28] #94 closed

[2020-01-13 13:29] ndelvalle commented on #94
Feel free to open this issue again if you are still having the problem.

[2020-01-29 12:50] #112 closed

[2020-02-02 18:54] ndelvalle commented on #157
Hi @divined, can you create a [codesandbox](https://codesandbox.io) reproducing the issue so I can take a look? You can use the codesandbox on the readme as a based one.

[2020-02-02 18:55] ndelvalle commented on #82
@koraykupe thanks for sharing your solution.

[2020-02-02 18:55] #82 closed

[2020-02-28 12:55] moneyinvest opened #175 "html elems inside v-click-outside block also recognized as outside elems"

[2020-03-23 09:40] santicros opened #182 "Firefox warning MouseEvent.mozPressure is deprecated"
On Firefox Desktop it always warns with
`MouseEvent.mozPressure is deprecated. Use PointerEvent.pressure instead.`.

I don't see it on the code so not sure how should be fixed.

[2020-04-03 19:40] ndelvalle commented on #157
Closing due to inactivity.

[2020-04-03 19:40] #157 closed

[2020-04-03 19:41] ndelvalle commented on #182
@santicros I wonder if it is related to [this](https://github.com/ndelvalle/v-click-outside/blob/master/src/v-click-outside.js#L7-L8). The warning is coming from `v-click-outside`?

[2020-04-06 21:45] santicros commented on #182
It could be! How could I try?
It was coming from this plugin for sure, even when mouse was over a "outside" zone!

[2020-04-06 23:24] ndelvalle commented on #182
@santicros there is an example project using this directive [here](https://github.com/ndelvalle/v-click-outside/tree/master/example). We used this project to debug issues.

[2020-04-17 09:13] bpeab commented on #175
Also having this issue in one of our components which uses a default slot and a named slot. The issue appears only for focusable elements which are in the default slot. Focusable elements that are inside the named slot are not recognize as outside elements by `v-click-outside`.

[2020-04-18 13:04] furkangkhsn commented on #175
But why? I need an input inside a v-click-outside block. It's annoying behaviour.

[2020-04-19 20:34] ndelvalle commented on #175
Would you guys mind investigate a bit more the issue, maybe creating something to reproduce it so it's easier to fix?
At the moment I have a lot on my plate, maybe I can take a look at it next week 🙁

[2020-04-20 17:56] bpeab commented on #175
Of course, it's normal.

Unfortunatly, I can't share the project the issue is appearing on and I wasn't able to reproduce this issue in a blank project with the same components and dependencies. I'll try again later and come back if I found something.

[2020-04-30 03:17] Cxz-web opened #209 "Why update is needed?"

[2020-04-30 18:42] ndelvalle commented on #209
@Cxz-web the update is needed when a config object is used. Example:
[code]

So the idea is that if the user updates one of these attributes we run the update function using the new attributes.
Does this answer your question?

[2020-05-06 17:53] ndelvalle commented on #209
@Cxz-web feel free to reopen the issue if my answer did not help you.

[2020-05-06 17:53] #209 closed

[2020-05-08 05:51] 324Luke opened #210 "Typescript types?"
This would allow for usage within Typescript projects.

[2020-05-13 13:38] bpeab commented on #175
It was a misunderstanding.

I had a search with dropdown inside the container that had the `v-click-outside` directive set. The dropdown would have a variable number of elements inside of it and therefore, the container height was depending on the number of elements of the dropdown.

Clicking (`mousedown`) on a element of the dropdown would trigger an event and close the dropdown. By time `mouseup

[2020-05-15 14:06] ndelvalle commented on #175
@bpeab thanks for reporting back. @moneyinvest can you please provide an example that reproduces the bug?

[2020-05-15 14:21] ndelvalle commented on #210
Yeah, that would be cool, @324Luke are you familiar with TS to provide some help?

[2020-05-15 22:51] 324Luke commented on #210
@ndelvalle I work with TypeScript fairly often. I have never worked with typescript declaration files though.

[2020-05-23 16:36] baooab opened #211 "The judgment event.target !== el is superfluous"
I think the 34th line in the source code is superfluous.

[code]

Because when `outsideCheck` is `true`, `event.target! == el` must be `true`.

Therefore it should be written as：

[code]

Is not it?

[2020-05-26 02:08] ndelvalle commented on #211
@baooab I am not 100% sure if we are covered in all cases. Do you mean that if `outsideCheck` is true, the `event.target` is always different than the `el`?
If you are sure about it, feel free to create a PR, I'll take a look a test it locally, It would be nice to have tests to make sure about this :/

[2020-05-27 02:21] brendon commented on #26
This is a bit of a usability problem since now the mouse looks like a pointer all of the time :(

[2020-05-28 03:16] baooab commented on #211
Yes, it is. I have tested and submitted a PR~ https://github.com/ndelvalle/v-click-outside/pull/212

[2020-05-29 13:59] #211 closed

[2020-06-29 12:57] dxc-jbeck opened #214 "v-click-outside with overlap does not close with two components"
We have 2 VueJs components with overlapping divs.  They are menu drop down boxes.
1) Click on the first component (blue) to open
2) Click on the yellow part to open green

Expected:  blue will close
Actual: blue stays open (because both are using v-click-outside)

![v-click-once-overlap](https://user-images.githubusercontent.com/54046008/86008133-5ea96d80-b9e6-11ea-9ad2-3dcb156fde92.png)

[2020-06-29 17:35] #214 closed

[2020-08-06 17:36] 719media commented on #93
In case anyone else stumbles upon this answer looking for how to prevent default click, there is another wrinkle that tripped me up for a few minutes. This library binds `touchstart` if the device supports it, otherwise `click`. So v-outside-click can fire on `touchstart`, which you attempt to prevent, thinking you're preventing the `click`...
Anyway, just something to consider when troubleshootin

[2020-08-08 18:58] shaunc opened #218 "configure events when using as directive?"
I use `v-click-outside` in my component:

[code]
I would like to pass `events` so as to listen to `mousedown` but not `click`. Can I pass this configuration somehow when using as a local directive?

What I am trying to accomplish is react to mouse click that starts outside, but not one that starts inside and ends outside, which currently happens. It seems that on the "click" even I am currently ge

[2020-08-12 14:03] ndelvalle commented on #218
@shaunc it should work the same when using as a local directive, did you try:

[code]

[2020-08-18 08:05] Frederick-88 opened #219 "Integration in Nuxt.js"
Good day! Thanks for making such a great plugin =) , currently i want to integrate it in Nuxt and maybe its better if there are docs about it so Nuxt Developers also could put in "v-click-outside" inside their development.

[2020-08-18 09:26] #219 closed

[2020-08-21 17:08] renatodeleao opened #220 "Programatic usage via exported functions or/and mixin"
Hey @ndelvalle, first many things for the work on this package 🙏
I've came across a different usecase for `v-click-outside` and would like to make a suggestion.

### Context
So i'm a big fan of [renderless components](https://adamwathan.me/renderless-components-in-vuejs/#:~:text=A%20renderless%20component%20is%20a,what%20should%20actually%20be%20rendered.) and their moto: all the functionality lay

[2020-08-24 12:28] renatodeleao commented on #220
Note: I just realised that we can already use this without any changes to the package:

[code]

So this issue becomes more of question now, to check if there's no downside or if it makes sense to document in readme ✌️

[2020-08-24 12:32] renatodeleao commented on #80
the `blur` solution seems to be working, from my light testing. Firefox `document.activeElement` becomes `body` instead of the actual `iframe` on (chrome, safari, edge) `window.blur`.

[code]

@monkeyWzr did you remember any edge case from this? Cheers ✌️

[2020-08-24 14:52] ndelvalle commented on #220
Hi @renatodeleao thanks for taking the time and filling this issue and for the great read (Analogies included). I was not aware of this approach you mentioned, if you think it can be useful for other people and it can be used this way then I'm in for adding it to the readme 🙌🏻 PR is most than welcome!

[2020-08-25 10:51] renatodeleao commented on #220
@ndelvalle my pleasure!
Here it is https://github.com/ndelvalle/v-click-outside/pull/221

Thanks for your work on this once again!

[2020-08-26 13:53] #220 closed

[2020-08-29 04:45] #80 closed

[2020-09-01 18:20] 719media opened #232 "detectIframe default"
I really feel detectIframe should have been default false instead of default true
I guess it's probably too late to change this behavior, but it caused me quite a few problems when using a paypal button in a drawer, as the paypal button is an iframe, so my drawer was having a v-click-outside behavior causing it to close instead of allowing the customer to continue down the paypal flow.

I figure I

[2020-09-01 18:47] ndelvalle commented on #232
@719media yep, totally agree, my fault 😇. Thanks for creating the issue.

[2020-09-03 12:57] renatodeleao commented on #232
@719media i've coded the feature ✋  Sry for the trouble and thanks for reporting the issue! Making it `false` by default would have been the wisest move!

Looking at the bright side, now I can see room for improvement 💪

thinking out-loud we can make iframe detection a little bit smarter: instead of blindly checking `document.activeElement.tagName === 'IFRAME'` we should check if that particular `

[2020-09-07 16:01] #232 closed

[2020-09-09 22:13] 9mm opened #238 "Vue 3?"
Hey, does this work with vue 3? I'm trying to use it as a simple directive and it doesn't seem to be firing the log statement. I'm not sure how exactly to debug this though

[2020-09-09 22:20] 9mm commented on #238
This was the code I used in its entirety:

[code]

[2020-09-10 13:54] ndelvalle commented on #238
@9mm I haven't cheeked Vue 3 yet. I think some changes are needed in order for this directive to work. We should investigate a bit.

[2020-09-10 20:37] 9mm commented on #238
I'm new to vue and sort of this front-end JS madness in general, so I'm not exactly sure how I could help with a PR effectively. With that said I did some digging and I'm assuming the primary reason it's breaking is because vue 3 supports fragments instead of a root node, so it looks lik the `bind` event youre hooking into no longer exists:

https://v3.vuejs.org/guide/custom-directive.html#hook-fu

[2020-09-10 20:39] 9mm commented on #238
Later on down the page:

[code]

[2020-09-22 07:35] onmyflow commented on #238
Since vue3 is now released, it would be really nice to get this working.
I'm not really all too familiar with the vue3 api so I can't really contribute to a PR though...

[2020-09-28 11:55] renatodeleao commented on #238
We have now the [official migrating guide](https://v3.vuejs.org/guide/migration/custom-directives.html#overview).

From a quick glance, it terms of actual code it might just be a matter of updating lifecycle method names to the new ones (since the remaining api is same) and adding the disclaimer mentioned by @9mm when using the directive on custom components that can now have multiple root nodes:

[2020-09-28 12:06] onmyflow commented on #238
Aa far as i could make out, many libraries create a next branch, which holds the new code. The next branch will create pre-releases which can then be uploaded to npm unther the @next tag. So someone can then just install v-click-outside@next with npm or yarn. As soon as vue3 becomes the primary release and vue2 is deprecated, the next brach is merged into the master branch. The old code can then b

[2020-09-28 14:23] ndelvalle commented on #238
Thinking out loud, for a regular library I would certainly go with the `@next` version approach. But I think vue 2 will be around for a long time so having support for vue2 and vue3 in master if possible would be awesome, at least for a while.

Of course, we need to investigate a bit more, sadly I haven't been using vue for a while (Job requires me to do something else) and I was not able to read

[2020-10-04 14:05] onmyflow commented on #238
@ndelvalle Interesting idea! This gives me some bad smell though. Having two separate versions in the same package seems a bit overkill. Although v-click-outside ist a tiny library compared to other ones, this still doesn't seem like a clean solution, since now you are shipping two versions of the same functionality for two vue versions doubling the package src size. People might get confused as t

[2020-10-12 01:58] Over-Easy commented on #238
Hey! I was also checking in about this, I use v-click-outside and just migrated our app to vue 3!

[2020-10-21 20:14] dominykasgithub commented on #238
any updates?

maybe we could do something like this?
[code]

[2020-10-21 20:56] dominykasgithub commented on #238
ok, so if no package is available right now, you can use this

[code]

[2020-10-22 08:42] astagi commented on #210
@lukewhrit @ndelvalle I had the same problem on a Vue project written in TS, I tried this fix https://github.com/ndelvalle/v-click-outside/pull/265 . Let me know if it works for you :)

[2020-10-23 18:17] crutch12 commented on #238
@dominykasgithub could you provide PR for this? Add vue3 to dependencies and other important things?

[2020-10-25 12:12] dominykasgithub commented on #238
@crutch12  I'm busy right now migrating from vue2, I'm way behind  deadline. Maybe later if issue still persists

[2020-11-08 22:24] 9mm commented on #238
@dominykasgithub was your implementation identical to v-click-outside or a 'light' version which doesn't handle as many edge cases? I'm getting to point where I really need to implement this, but if your version is equal-to or better ill just use that

[2020-11-11 11:48] Livijn commented on #238
For those of you that needs TypeScript support:

**main.ts**
[code]

**click-outside.ts**
[code]

[2020-11-17 16:30] jgerigmeyer commented on #238
I'm using a modified version until this issue is officially resolved: https://gist.github.com/jgerigmeyer/87d16753c93762132943a26ea40cc665

[2020-11-19 19:49] stepanjakl commented on #238
@jgerigmeyer Yay, that works well! I just had to convert it to JS (via https://www.typescriptlang.org/play)

[2020-12-26 18:49] christopher4lis commented on #219
You figure out a way to integrate this globally?

[2021-01-26 16:42] pbowyer commented on #238
Thanks @jgerigmeyer.

For anyone else who like me is new to Vue, here's how I got it to work in my Vue 3 app.
In main.js:
[code]

And then in my component, I called it like:
<template>
  <div class="inline-block text-left" v-click-outside="closeDropdown">
  </div>
</template>

[2021-01-26 18:20] d-arken opened #310 "TypeError: undefined is not a function"
Hello, first, thanks for the lib, it have been very useful to my team.

But i caught an annoying error wich happens in older browsers.

To reproduce the error that i found in Sentry reports.
I had to emulate an Android 5 browser, but i got that.

![image (3)](https://user-images.githubusercontent.com/16198073/105886814-a084ab80-5fe9-11eb-823a-a52a1807301c.png)

To reproduce it:
GenyMotion emulator

[2021-01-26 18:25] ndelvalle commented on #310
Hi @d-arken thanks for reporting the issue, can you please provide the error stack trace, maybe we can have an idea of what is going on and where.

[2021-01-26 18:27] #218 closed

[2021-01-26 18:33] d-arken commented on #310
@ndelvalle I only could reproduce it at a production server.

So i only got that trace from console.
[code]

and from Sentry:
[code]

I am trying to connect the emulator with my development setup. I untill now i could not make it work.

[2021-01-28 19:03] caiokawasaki opened #311 "Detect right-click"
In some parts of my application I have some menus that are opened through context menu using the right mouse button.

Is there any way for the plugin to work with the right button?

![Anotação 2021-01-28 160112](https://user-images.githubusercontent.com/9747004/106185930-4f5bef80-6182-11eb-9a6d-a6478f5daa88.png)

[2021-01-29 10:27] nullablebool opened #312 "Always execute handler and pass result"
It would be helpful to have a handler which is always called and the result (isClickOutside) is provided to the handler.

If the following has multiple children, or components that swallow the bubble, the desired result is not easily achievable:

`<div  @click="isFocused=true" v-click-outside="e => isFocused=false" :class="{ focused: isFocused }"></div>`

I will work on this, likely passing it to

[2021-01-29 10:46] nullablebool commented on #312
I failed to put a .stop modifier on the click - late night coding problems.

[2021-01-29 10:46] #312 closed

[2021-02-02 07:41] gauravmak commented on #219
https://dpatelierdigital.com/en/articles/detect-external-click/

[2021-02-20 21:41] TheMangoTrain opened #321 "Error: "Binding value must be a function or an object""
Hey,

Just a heads up...

**1. FAILS:**
`<div v-click-outside="closeMenu()">`

Error: "Binding value must be a function or an object"

**2. WORKS:**
`<div v-click-outside="closeMenu">`

Simply removing the brackets makes it work.

In my Vue component, `closeMenu()` is a method, and methods _are_ functions, so the first example above should work. In Vue-land, some people use brackets for methods in

[2021-03-18 08:09] andyfensham commented on #321
I also need it as I need to pass a parameter to my function like
`v-click-outside="update({ modalOpen: true })"`

[2021-03-18 13:58] ndelvalle commented on #321
@andyfensham did you try

[code]

[2021-03-26 11:16] andymark-by commented on #238
Temporarily created this solution for myself based on the comments above  https://github.com/andymark-by/vue3-click-outside

It works fine for me

[2021-04-30 12:35] #321 closed

[2021-05-20 11:27] Xiphe commented on #311
I'm also having issues with this.

[2021-06-06 02:56] douglasg14b opened #383 "Just adding this Vue plugin (Not using the directive) breaks mobile tapping for some things like menus in other frameworks"
For some reason just adding this plugin to the app interferes with behaviors of menu's, dropdowns, selects...etc in Quasar. Causing them to not be closable by clicking on them.

[2021-06-06 04:01] douglasg14b commented on #383
I have verified that these changes stop this problem from occuring:

`srcTarget.addEventListener(event, handler, { capture: false, passive: false });`

and

`srcTarget.removeEventListener(event, handler, { capture: false, passive: false })`

**HOWEVER**, browser support is limited. Which means before this parameter can be used, support must first be checked, and if oe snot exist, the old parameter

[2021-07-30 13:53] raphaelbernhart commented on #238
Works fine. TS support would be very nice!

[2021-08-24 09:31] ngekoding commented on #238
I just try it today, but getting this error.

<img width="664" alt="Error" src="https://user-images.githubusercontent.com/11625690/130593178-25de67c2-612f-4dce-9910-23e0a674b1c6.png">

Any help?

[2021-08-24 10:10] raphaelbernhart commented on #238
I've used the solution of andymark-by. It works fine!

[2021-08-24 10:49] ngekoding commented on #238
@raphaelbernhart I was try it before found this issue, I got an error also.

Maybe that because I use Vite?

[2021-09-04 14:22] derpierre65 commented on #311
for your information: you can detect it with set the event for contextmenu (right click)
[code]

[2021-10-01 12:53] topada opened #450 "How might we distinguish between click-outside and dragged-outside?"
👋 Hi there,
I’ve got a form with a couple of input fields and textareas inside a modal. The modal has the v-click-outside directive setup to close the modal. This behaviour is well accepted by our users. However, there is one problem: if the user tries to select the text inside a prefilled input field and overshoots the input field as well as the modal and the pointer stops outside the modal, the

[2021-10-01 13:57] topada commented on #450
I guess I've figured out a way to solve this problem, based on: [Modal is closed when cursor is released outside the modal after Chrome update (angularjs and bootstrap-ui)](https://stackoverflow.com/questions/55732804/modal-is-closed-when-cursor-is-released-outside-the-modal-after-chrome-update-a)

Stripped down, this is what I’ve got now — hope this might help others in the future :) Still happy

[2021-12-08 12:28] scil opened #473 "how to use umd version in web page?"
I installed v-click-outside and use `v-click-outside.umd.js` in a web html page.

I got error  `Failed to resolve directive: click-outside`

I tried `Vue.use(vClickOutside)` and failed.

[2021-12-08 12:29] scil commented on #473
This works!

[code]

[2021-12-08 12:29] #473 closed

[2022-01-03 21:42] adamreisnz commented on #25
@syropian ever found a solution that didn't involve having to actively manage the visibility state of each sibling?

[2022-01-04 15:54] syropian commented on #25
@adamreisnz Keep in mind this is pretty old code now, but I _think_ the solution was wrapping the button in a div like so — https://github.com/astralapp/astral/blob/master/resources/assets/js/components/Dashboard/Sidebar/SidebarTag.vue#L17-L32

In a newer version I have it all working automatically by using [HeadlessUI](https://headlessui.dev/)

[2022-05-09 21:13] mrleblanc101 opened #533 "ReportingObserver [deprecation]: 'Event.path' is deprecated and will be removed in M109, around January 2023. Please use 'Event.composedPath()' instead"
Hi,
I get hundred of these warning in Sentry related to this plugin.
Seem to come from line 54 of v-click-outsite.js:
[code]
Instead of using `Event.path`, you should include a polyfill for IE11 and Edge (Edge-HTML, pre-Chromium) if necessary or drop support for those older browser.

[2022-05-09 21:14] mrleblanc101 commented on #533
I found a couple polyfill in this stackoverflow thread: https://stackoverflow.com/questions/39245488/event-path-is-undefined-running-in-firefox
https://gist.github.com/rockinghelvetica/00b9f7b5c97a16d3de75ba99192ff05c

[2022-05-16 03:01] #533 closed

[2022-07-21 15:56] josuemartinezz commented on #210
Works ⚡️

[2022-07-21 16:00] josuemartinezz commented on #210
Add the following line in the configuration file `tsconfig.json`

[code]

In your root folder create a directory `types/v-click-outside.d.ts`

[code]

That's all 😜

[2022-07-27 02:30] #238 closed

[2022-09-02 14:14] PierreMaraisZA commented on #214
what was the fix here

[2022-09-05 07:17] snakemastr commented on #175
I had a similar issue where I had a collapsable div where the toggle button was shown with v-if and was triggering the click-outside. Changing the v-if to v-show solved this. I have not yet checked the source code but I guess the clickable items are cached somewhere and are not inspected dynamically.

Perhaps unrelated to the above but it might help someone who ends in this threat via google.

[2022-09-28 18:41] dwickern opened #601 "Not working on vue3"
It seems the release process stripped out all vue3-specific code.

https://www.runpkg.com/?v-click-outside@3.2.0/dist/v-click-outside.umd.js

^^ The hooks are hard-coded as `bind/update/unbind`

[2022-10-04 23:08] nextmat commented on #601
I'm running into the same issue.

It looks like directive support for Vue 3 was added in https://github.com/ndelvalle/v-click-outside/pull/563, after the latest published release (3.2.0, May 15 2022, https://github.com/ndelvalle/v-click-outside/commit/f525d4b393858d3a66414b1522be307be2e1ebf8).

@ndelvalle - any chance of an updated release?

[2022-10-06 19:38] dwickern commented on #601
I switched to this one instead: https://vueuse.org/core/onClickOutside

[2022-10-20 07:05] yoshrubin commented on #214
@dxc-jbeck how were you able to solve this? I am running into the same issue

[2022-10-20 08:42] yoshrubin commented on #214
ok so I solved this.
The issue I had was that I had a `@click.stop` on a parent element removing that didn't help at first but then figuring out why I needed the `.stop` at first I found the source of my issue

so if anyone runs into this issue in the future look for any other clicks that may interfere

[2022-10-23 17:16] handhikadj opened #614 "click outside is triggered inside the element with v-for"
go to: https://codesandbox.io/s/unruffled-shirley-0x72r6?file=/src/App.vue

click inside the element. see console